body {
  margin: 0;
  padding: 0;
  background: #F4F4F4;
  font-family: 'Lato', sans-serif;
}

#container {
	text-align: center;
}

#nav {
	padding: 10px 0 10px 0;
	text-align: center;
	background: #5E2CA5;
}

#nav a {
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	color: #EEEEEE;
	font-family: 'Quicksand', sans-serif;
}

#welcome-bg {
	margin-top: 50px;
	width: auto;
	height: 50vh;
}

#Welcome h1 {
	margin: 5px auto 15px auto;
	max-width: 50%;
}

.myButton {
	background: #5E2CA5;
	color: #EEEEEE;
	font-family: 'Quicksand', sans-serif;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #EEEEEE;
	display:inline-block;
	cursor:pointer;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

.myButton:hover {
	background-color: #9f5ae0;
}
.myButton:active {
	position:relative;
	top:1px;
}